*{
    box-sizing:border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}    

.header{
    height:200px;
    padding-left:8%;
    padding-right:8%;
}

       
.logo{
    height:100%;
    float:left;
    padding-top:60px;
    padding-bottom:55px;
    color:#373737;
}

.imag{
    float:right;
    width:100%;
    height:100%;
}
.c1{
    float:left;
    height:100%;
    width:69px;
}

.hghlgh{
    color:#EB4038;
}

.c2{
    float:left;
    height:100%;
}
.c2>.r1{
    padding-bottom:10px;
    height:60%;
    font-size:44px;
    font-weight:bold;
} 
.c2>.r2{
    padding-top:5px;
    height:40%;
    font-size:14px;
}   
.hbutton{
    width:50%;
    height:100%;
    padding:70px 0px 60px ;
    float:right;
    text-align:right;
}
button{
    width:180px;
    height:50px;
    display:inline-block;
    font-size:23px;
    margin:5px;
}

.first{
    background-color:#FFFFFF;
    color:#C9341C;
    border:solid 2px #C9341C;
}

.second{
    background-color:#C9341C;
    color:#FFFFFF;
    border:solid 2px #C9341C;
}

.status{
    background-color:#F8F8F8;
    padding-bottom:50px;
}
    

.status>.st_content{
    width:1285px;
    margin: auto;
}
.r_nm,.r_cnt,.r_t{
    padding:20px 50px 20px 50px;
    font-size:25px;
    color:#373737;
    word-spacing:5px;
    line-height:45px;
}

.r_nm{
    font-weight:bold;
}    

.r_t{
    text-align:right;
} 

.row{
    margin-top:20px;
    border:solid #373737;
}   
    
.st_content>.row{
    background-color:#FFFFFF;
    padding:20px;
    border:1px #000000 solid;
    margin:0px 0px 15px;
}
.status::after{
    content:"";
    display:block;
    clear:both;
}    
    
.footer{
    height:250px;
    padding:20px 8%;
    color:#F8F8F8;
    background-color:#373737;
}
.footer>.col{
    width:50%;
    height:100%;
    float:left;
}

img{
    width:45px;
    height:45px;
    display:inline-block;
}

.div_1{
    font-size:25px;
    padding-top:48px;
    height:40%;
}
.div_2{
    font-size:30px;
    height:60%;
    border:2px white ;
    
}
.col_1{
    text-align:left;
}
.col_2{
    text-align:right;
}

        


        
