*{
    box-sizing:border-box;
} 

.header{
    height:200px;
}       
    

.hbutton>.dash_brd{
    color:#C9341C;
    font-size:23px;
    margin-right:40px;
    text-decoration:underline;
        
}

.aaaa{
    color:#373737;
} 

.aaaa .r2{
    padding-top:0px;
}

.aaaa .r1{
    padding-bottom:0px;
}
.c2>.r2{
    position:relative;
    top:-5px;
}    
.put_status{
    padding:40px 0px 40px;
    margin-top:40px;
    margin-bottom:110px;
} 

.instr{
    font-weight:bold;
    font-size:30px;
    color:#373737;
}

.space{
    width:100%;
    height:200px;
    margin:20px 0px;
    
}
.smt{
    float:right;
    background-color:#C9341C;
    color:#FFFFFF;
    border:solid 2px #C9341C;
    width:180px;
    height:50px;
    display:inline-block;
    font-size:23px;
    margin:5px;
}
         
